header {
    background-color: rgb(22, 22, 230);
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    height: 60px;
    font-style:oblique;
    color: white;
    

}

.form-group {
    font-size: xx-large;
}

.form-group input {
    font-size: x-large;
   /* width: 700px; */
}
button {
    font-size: x-large;
}

.results {
    border: black thick 5px;
    width: 50%;

}